body {
  margin: 0;
  box-sizing: border-box;
}
header {
  background: linear-gradient(rgba(11, 29, 172, 0.5), rgba(31,44, 136, 0.4)), url("plavo.jpg");
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 120vh;
}
nav {
  display:flex;
  justify-content: center;
  flex-direction: row;
}

.logo {
  height: 60px;
  width: 60px;
}
#dugme {
  border: 1px solid white;
  background-color: white;
  color: blue;
  border-radius: 4px;
}
#dugme:hover {
  border: 1px solid blue;
  background-color: blue;
  color: white;
}
header ul {
  margin-left: 6%;
}
.dugmad h1 {
  color: white;
}
.dugmad {

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
     -ms-flex-align: center;
        align-items: center;
  -webkit-box-pack: center;
     -ms-flex-pack: center;
   justify-content: center;
 flex-direction: column;
margin-top: -55px;

}
.dugmad div {
  margin-top: 30px;
}
.dugmad a {
  padding: 8px 16px;
  margin: 25px;
  background-color: white;
  border-radius: 4px;
}
.dugmad a:hover {
  text-decoration: none;
 background-color: blue;
 color: white;
}
main {
  padding-top: 6%;
  padding-bottom: 5%;
}
#srediste h2 {
  text-align: center;
  padding-top: 3%;
  padding-bottom: 2%;
}
.col-sm-6 {

}
#dole {
text-align: center;
padding-top: 6%;
padding-bottom: 6%;
width: 100%;
}

.str:hover {
  opacity: 0.8;
  border: 1px solid black;
}
.str p {
  margin-top: 25px;
  color: black;
}
.str:hover p {
 color: white;
}
#str1 {
  background: linear-gradient(rgba(8, 99, 210, 0.5), rgba(7, 115, 247, 0.5)), url("https://images.unsplash.com/photo-1541053476867-b02b2bd8ceeb?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=9499013f4e313fbecc24289ea2b88465&auto=format&fit=crop&w=1050&q=80");
  background-size: cover;
  height:100px;
  width: 20%;
  display: inline-block;
  margin: 1%;
}
#str2 {
  background: linear-gradient(rgba(8, 99, 210, 0.5), rgba(7, 115, 247, 0.5)), url("https://images.unsplash.com/photo-1548783701-178830d050f2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80");
  background-size: cover;
  height:100px;
  width: 20%;
  display: inline-block;
  margin: 1%;
}
#str3 {
  background: linear-gradient(rgba(8, 99, 210, 0.5), rgba(7, 115, 247, 0.5)), url("https://images.pexels.com/photos/1453479/pexels-photo-1453479.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;
  height:100px;
  width: 20%;
  display: inline-block;
  margin: 1%;
}
#str4 {
  background: linear-gradient(rgba(8, 99, 210, 0.5), rgba(7, 115, 247, 0.5)), url("https://images.pexels.com/photos/1072179/pexels-photo-1072179.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;
  height:100px;
  width: 20%;
  display: inline-block;
  margin: 1%;
}
#str5 {
  background: linear-gradient(rgba(8, 99, 210, 0.5), rgba(7, 115, 247, 0.5)), url("https://images.pexels.com/photos/5836/yellow-metal-design-decoration.jpg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  background-size: cover;
  height:100px;
  width: 20%;
  display: inline-block;
  margin: 1%;
}
#str6 {
  background: linear-gradient(rgba(8, 99, 210, 0.5), rgba(7, 115, 247, 0.5)), url("https://images.pexels.com/photos/1328891/pexels-photo-1328891.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  background-size: cover;
  height:100px;
  width: 20%;
  display: inline-block;
  margin: 1%;
}
#str7 {
  background: linear-gradient(rgba(8, 99, 210, 0.5), rgba(7, 115, 247, 0.5)), url("https://images.pexels.com/photos/1616403/pexels-photo-1616403.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;
  height:100px;
  width: 20%;
  display: inline-block;
  margin: 1%;
}
#str8 {
  background: linear-gradient(rgba(8, 99, 210, 0.5), rgba(7, 115, 247, 0.5)), url("https://images.pexels.com/photos/436775/pexels-photo-436775.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;
  height:100px;
  width: 20%;
  display: inline-block;
  margin: 1%;
}
#str9 {
  background: linear-gradient(rgba(8, 99, 210, 0.5), rgba(7, 115, 247, 0.5)), url("https://images.pexels.com/photos/1702624/pexels-photo-1702624.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  background-size: cover;
  height:100px;
  width: 20%;
  display: inline-block;
  margin: 1%;
}
#str10 {
  background: linear-gradient(rgba(8, 99, 210, 0.5), rgba(7, 115, 247, 0.5)), url("https://images.pexels.com/photos/1312488/pexels-photo-1312488.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;
  height:100px;
  width: 20%;
  display: inline-block;
  margin: 1%;
}
#str11 {
  background: linear-gradient(rgba(8, 99, 210, 0.5), rgba(7, 115, 247, 0.5)), url("https://images.pexels.com/photos/325044/pexels-photo-325044.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  background-size: cover;
  height:100px;
  width: 20%;
  display: inline-block;
  margin: 1%;
}
#str12 {
  background: linear-gradient(rgba(8, 99, 210, 0.5), rgba(7, 115, 247, 0.5)), url("https://images.pexels.com/photos/630754/autumn-orange-nature-red-630754.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  background-size: cover;
  height:100px;
  width: 20%;
  display: inline-block;
  margin: 1%;
}
footer {
  padding-top: 2%;
  padding-bottom: 2%;
}
.mreze img {
  width: 40px;
  height: 45px;
  padding: 2px;
}
@media (max-width: 600px){
  #dole {
    display: flex;
    flex-direction: column;
    padding-top: 18%;
  }
  #str1, #str2, #str3, #str4, #str5, #str6, #str7, #str8, #str9, #str10, #str11, #str12{
    width: 60%;
  }
  main {
    padding-top: 25%;
  }
}
