body {
  margin: 0;
  box-sizing: border-box;
}
header {
  background: linear-gradient(rgba(11, 29, 172, 0.5), rgba(31,44, 136, 0.4)), url("plavo.jpg");
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  min-height: 120vh;
}
nav {
  display:flex;
  justify-content: center;
  flex-direction: row;
}
.kont {
   font-size: 16px;
    color: white;
    margin-left: 10px;
}
.kont:hover {
  color: white;
  text-decoration: none;
}
nav li a {
  color: white;
}
nav li a:hover {
  color: black;
}
.dropdown-item {
  color: white;
}
.dropdown-item:hover {
  color: blue;
  background-color:white;
}
.dropdown-menu {
  background-color: blue;
  border: 1px solid white;
}
.logo {
  height: 60px;
  width: 60px;
}
#dugme {
  border: 1px solid white;
  background-color: white;
  color: blue;
  border-radius: 4px;
}
#dugme:hover {
  border: 1px solid blue;
  background-color: blue;
  color: white;
}
header ul {
  margin-left: 6%;
}
#kontakt {
  color: white;
  padding-top: 15%;
}
form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 60%;
  margin: 0 auto;
  padding: 30px 70px;
}
form div {
  display: flex;
  margin-bottom: 25px;
  align-items: center;
}
label {
 width: 40%;
}
input, select, textarea {
  width: 60%;
  padding: 10px;
}
.flex-right {
  justify-content: flex-end;
}
.flex-right button {
  padding: 8px;
  border: 1px solid blue;
  color: blue;
  background-color: white;
}
.flex-right button:hover {
  color: white;
  background-color: blue;
  cursor: pointer;
}
footer {
  padding-top: 2%;
  padding-bottom: 2%;
}
.mreze img {
  width: 40px;
  height: 45px;
  padding: 2px;
}
@media (max-width: 1100px){
  form {
    width: 90%;
  }
}
@media (max-width:750px){
  form {
    width: 100%;
  }
  #kontakt {
    padding-top: 33%;
  }
}
